<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="images/logo.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="css/font-awesome.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="owl-carousel/assets/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Split Your Bill</title>
</head>
<body>
    <div id="myModalLogin" class="modal fade">
        <div class="modal-dialog modal-login">
            <div class="modal-content">
                <div class="modal-header">				
                    <h4 class="modal-title">Member Login</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <form action="/user/login" method="POST">
                        <div class="form-group">
                            <i class="fa fa-user"></i>
                            <input type="email" name="email"class="form-control" placeholder="Email" required="required">
                        </div>
                        <div class="form-group">
                            <i class="fa fa-lock"></i>
                            <input type="password"name="password" class="form-control" placeholder="Password" required="required">					
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary btn-block btn-lg" value="Login">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <a href="#">Forgot Password?</a>
                </div>
            </div>
        </div>
    </div>     
    <div id="myModalSignup" class="modal fade">
        <!-- start -->
        <div class="modal-dialog modal-login">
            <div class="modal-content">
                <div class="modal-header">				
                    <h4 class="modal-title">SignUp</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <form action="/user/signup" method="POST">
                    <div class="form-group">
                        <div class="row">
                            <div class="col"><input type="text" class="form-control" name="name" placeholder="Name" required="required"></div>
                        </div>        	
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="Email" required="required">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Password" required="required">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="confirmPwd" placeholder="Confirm Password" required="required">
                    </div>        
                    <div class="form-group">
                        <label class="form-check-label"><input type="checkbox" required="required"> I accept the <a href="#">Terms of Use</a> &amp; <a href="#">Privacy Policy</a></label>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-lg btn-block">Register Now</button>
                    </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <a href="#">Forgot Password?</a>
                </div>
            </div>
        </div>
    </div>
<nav class="navbar navbar-expand-lg navbar-light bg-light bg-transparent" id="gtco-main-nav">
    <div class="container"><a class="navbar-brand">SplitYourBill</a>
        <button class="navbar-toggler" data-target="#my-nav" onclick="myFunction(this)" data-toggle="collapse"><span
                class="bar1"></span> <span class="bar2"></span> <span class="bar3"></span></button>
        <div id="my-nav" class="collapse navbar-collapse ml-4">
            <ul class="navbar-nav mr-auto ml-4">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                <li class="nav-item"><a class="nav-link" href="/user/group">Group</a></li>
                <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
            </ul>
            <% if(c===false){%>
            <form class="form-inline my-2 my-lg-0" >
                <a class="btn btn-outline-dark my-2 my-sm-0 mr-3 text-uppercase trigger-btn"
                href="#myModalLogin" data-toggle="modal">login</a> 
                <a class="btn btn-info my-2 my-sm-0 text-uppercase" href="#myModalSignup" data-toggle="modal">sign up</a>
            </form>
            <%}else{%>
                <a class="btn logout my-2 my-sm-0 text-uppercase" href="/user/logout">LOGOUT</a>
            <%}%>
        </div>
    </div>
</nav>
<div class="container-fluid gtco-banner-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 style=" margin-bottom: 51px;"> Now split and track your <span>BILLS</span> without any extra load</h1>
                <!--<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rhoncus turpis nisl. </p>-->
                <% if(c===true){%>
                <a href="/user/group" style=" margin-top: 5px;">Create Group<i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
                <% }else{%>
                    <a href="#myModalLogin" data-toggle="modal" style=" margin-top: 5px;">Create Group<i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
                <%}%>
            <div class="col-md-6">
                <div class="card"><img class="card-img-top img-fluid" src="images/banner2.png" alt=""></div>
            </div>
        </div>
    </div>
</div>


<footer class="container-fluid" id="gtco-footer">
    <div class="container">
        <div class="row">
                    <div class="col-12">
                        <p>&copy; 2021 INTERNATHON. All Rights Reserved. Made by 404 FORCES</a>.</p>
                    </div>
        </div>
    </div>
</footer>

<script src="js/jquery-3.3.1.slim.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<!-- owl carousel js-->
<script src="owl-carousel/owl.carousel.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>
